body {
    margin: 0;padding-top:130px ;background-color:white;
}
#header{background-color:#4CAF50;
 display:float;
 margin-left:0%;
 height:60px;

 }

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position:static ;
}
#position{position:fixed;display:block;width:100%;top:0px ;}
ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: green;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

#content{padding:0px 80px 0px 80px}
.logo{display: block;
    margin-left: auto;
    margin-right: auto;}
#content{max-width:100%;}

.h{float: left;
   padding: 20px 20px 20px 0px;}
   .h1{float: left;
   padding:0px 20px 20px 0px ;}
   .pro{float: left;
   padding: 0px 40px 40px 0px;}
   h1{text-align:center; padding:10px 0px 0px 0px}
   
   #footer{background-color:#4CAF50;
 display:float;
 margin-left:0%;
 height:80px;
color:white
 }
 #footer{clear:both}
 #footer p{text-align:center; padding-top:30px;position:relative;}
 h1{font-weight:bold; color:green;}
 
#container #box{height:800px; width:auto;}
